:root {
  color-scheme: light dark;
  /* LIGHT COLORS */
  --body-bg-light: #faf4ed;
  --body-text-light: #575279;

  --button-bg-light: #f2e9e1; 
  --button-border-light: #9893a5;

  /* DARK COLORS */
  --body-bg-dark: #232136;
  --body-text-dark: #e0def4;

  --button-bg-dark: #393552; 
  --button-border-dark: #6e6a86;
}

/*#sidebar {*/
/*	inset: 0px;*/
/*	position: absolute;*/
/*}*/
/**/
/*#sidebar .shadow {*/
/*	background: linear-gradient(270deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));*/
/*	bottom: 0px;*/
/*	position: absolute;*/
/*	right: 0px;*/
/*	top: 0px;*/
/*	width: 3px;*/
/*}*/

@media (prefers-color-scheme: dark) {
  body { 
    background: var(--body-bg-dark); 
    color: var(--body-text-dark);
    padding: 20px;
    overflow-y: hidden;
  }
  button{
    background: var(--button-bg-dark);
    border: 2px solid var(--button-border-dark);
    border-radius: 12px;
  }
  .button:hover{
    background-color: var(--button-border-light);
  }
}

@media (prefers-color-scheme: light) {
  body { 
    background: var(--body-bg-light); 
    color: var(--body-text-light);
    padding: 20px;
    overflow-y: hidden;
  }
  button{
    background: var(--button-bg-light);
    border: 2px solid var(--button-border-light);
    border-radius: 12px;
  }
  .button:hover{
    background-color: var(--button-border-dark);
  }
}
/* sources: electron documentation,
  binaryfunt / electron-seamless-titlebar-tutorial,
  */
iframe{
  border: 1px solid #aa6fd5;
}
#header{
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-content{
  position: absolute;
  top:0;
  flex:1;
  z-index: 10;
}
#docs{
  position: absolute;
  width: 250px;
  height: 100%;
  top: 95px;
  left:0;
}
#coms{
  position: absolute;
  width: 250px;
  height: 100%;
  top:95px;
  right:0;
}