:root {
  color-scheme: light dark;
  /* LIGHT COLORS */
  --body-bg-light: #faf4ed;
  --body-text-light: #575279;

  --button-bg-light: #f2e9e1; 
  --button-border-light: #9893a5;

  /* DARK COLORS */
  --body-bg-dark: #232136;
  --body-text-dark: #e0def4;

  --button-bg-dark: #393552; 
  --button-border-dark: #6e6a86;
}

/*#sidebar {*/
/*	inset: 0px;*/
/*	position: absolute;*/
/*}*/
/**/
/*#sidebar .shadow {*/
/*	background: linear-gradient(270deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));*/
/*	bottom: 0px;*/
/*	position: absolute;*/
/*	right: 0px;*/
/*	top: 0px;*/
/*	width: 3px;*/
/*}*/

@media (prefers-color-scheme: dark) {

  body {
    background: var(--body-bg-dark);
    color: var(--body-text-dark);
    padding: 20px;
    overflow-y: hidden;
  }

  button {
    background: var(--button-bg-dark);
    border: 2px solid var(--button-border-dark);
    border-radius: 12px;
  }

  .button:hover {
    background-color: var(--button-border-light);
  }

  label{
    position: absolute;
    top:10px;
    padding:20px;
    color: var(--body-text-dark);
    font-size: 16px;
    font-weight: bold;
  }

  iframe {

  border: 1px var(--body-text-light) solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #3e3a70;
  }

  iframe:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  textarea::placeholder{
     color: var(--body-text-dark);
     font-style: italic;
   }
}

@media (prefers-color-scheme: light) {

  body { 
    background: var(--body-bg-light); 
    color: var(--body-text-light);
    padding: 20px;
    overflow-y: hidden;
  }

  button{
    background: var(--button-bg-light);
    border: 2px solid var(--button-border-light);
    border-radius: 12px;
  }

  .button:hover{
    background-color: var(--button-border-dark);
  }

  label{
    position: absolute;
    top:10px;
    padding:20px;
    color: var(--body-text-light);
    font-size: 16px;
    font-weight: bold;
  }

  iframe {
    border: 1px var(--body-text-dark) solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(172, 167, 244, 0.56);
  }

  iframe:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  textarea::placeholder{
    color: var(--body-text-light);
    font-style: italic;
  }
}
/* sources: electron documentation,
  binaryfunt / electron-seamless-titlebar-tutorial,
  */

#header{
  position: absolute;
  width: 99.7vw;
  height: 14vh;
  top: 0;
  left: 1px;
  right: 1px;
  display: block;
  z-index: 1;
}

.header-content{
  position: absolute;
  top:0;
  flex: auto;
  z-index: 10;
}

#settings{

}

label[for="docs"]{
  z-index:10;
  left: 0;
  top: 15%;
}

#docs{
  position: absolute;
  width: 15vw;
  height: 70vh;
  top: 15%;
  left:1px;
  z-index:2;
}

label[for="coms"]{
  z-index:10;
  right:0;
  top: 15%;
}

#coms{
  position: absolute;
  width: 15vw;
  height: 70vh;
  top: 15%;
  right:1px;
  z-index:2;
}

.document{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

textarea{
  position:absolute;
  border: none;
  resize: none;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

#document{
  padding: 40px;
  margin: 10px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
}

#notes{
  background-color: transparent;
  padding: 10px;
  margin: 20px auto;
  top: 25%;
  right:0;
  transform: translate(-7%, -7%);
  width:13%;
  height: 60%;
  z-index: 3;
}

.char-count{
  color: #555;
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 11px;
  padding: 2px 4px;
  border-radius: 3px;

}

textarea:focus{
  outline: none;
  border-color: var(--body-bg-dark);
  box-shadow: 0 0 5px var(--body-text-light);
}