:root {
  color-scheme: light dark;
  /* LIGHT COLORS */
  --document-bg-light: #f2e9e1;      /*  Overlay */
  --document-outline-light: #797593; /*  Subtle  */
  --body-bg-light: #faf4ed;          /*  Base    */
  --pane-bg-light: #f2e9e1;          /*  Overlay */
  --pane-outline-light: #9893a5;     /*  Muted   */
  --body-text-light: #575279;        /*  Text    */
  --muted-text-light: #9893a5;       /*  Muted   */

  --button-bg-light: #f2e9e1;        /*  Overlay */
  --button-border-light: #9893a5;    /*  Muted   */

  /* DARK COLORS */
  --document-bg-dark: #26233a;      /*  Overlay */
  --document-outline-dark: #908caa; /*  Subtle  */
  --body-bg-dark: #191724;          /*  Base    */
  --pane-bg-dark: #26233a;          /*  Overlay */
  --pane-outline-dark: #6e6a86;     /*  Muted   */
  --body-text-dark: #e0def4;        /*  Text    */
  --muted-text-dark: #6e6a86;       /*  Muted   */

  --button-bg-dark: #26233a;        /*  Overlay */
  --button-border-dark: #6e6a86;    /*  Muted   */
}

/*#sidebar {*/
/*	inset: 0px;*/
/*	position: absolute;*/
/*}*/
/**/
/*#sidebar .shadow {*/
/*	background: linear-gradient(270deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));*/
/*	bottom: 0px;*/
/*	position: absolute;*/
/*	right: 0px;*/
/*	top: 0px;*/
/*	width: 3px;*/
/*}*/

@media (prefers-color-scheme: dark) {

  body {
    background: var(--body-bg-dark);
    color: var(--body-text-dark);
  }

  .char-count{
    color: var(--muted-text-dark);
  }

  button {
    background: var(--button-bg-dark);
    border: 2px solid var(--button-border-dark);
  }

  .button:hover {
    background-color: var(--button-border-dark);
  }

  label{
    color: var(--body-text-dark);
  }

  iframe {
    border: 1px var(--pane-outline-dark) solid;
    background-color: var(--pane-bg-dark);
  }

  textarea::placeholder{
     color: var(--muted-text-dark);
   }

  textarea:focus {
    border-color: var(--body-bg-dark);
    box-shadow: 0 0 5px var(--document-outline-dark);
  }
}

@media (prefers-color-scheme: light) {

  body { 
    background: var(--body-bg-light); 
    color: var(--body-text-light);
  }

  .char-count{
    color: var(--muted-text-light);
  }

  button{
    background: var(--button-bg-light);
    border: 2px solid var(--button-border-light);
  }

  .button:hover{
    background-color: var(--button-border-light);
  }

  label{
    color: var(--body-text-light);
  }

  iframe {
    border: 1px var(--body-text-light) solid;
    background-color: var(--pane-bg-light);
  }

  textarea::placeholder{
    color: var(--body-text-light);
  }

  textarea:focus {
    border-color: var(--body-bg-light);
    box-shadow: 0 0 5px var(--document-outline-light);
  }
}
/* sources: electron documentation,
  binaryfunt / electron-seamless-titlebar-tutorial,
  */

body {
  padding: 20px;
  overflow-y: hidden;
}

.char-count {
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 11px;
  padding: 2px 4px;
  border-radius: 3px;
}

button {
  border-radius: 4px;
}

label {
  position: absolute;
  top:10px;
  padding:20px;
  font-size: 16px;
  font-weight: bold;
}

iframe {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

iframe:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

textarea::placeholder {
   font-style: italic;
}

#header{
  position: absolute;
  width: 99vw;
  height: 5vh;
  top: 0;
  left: 1px;
  right: 1px;
  display: block;
  z-index: 1;
}

.header-content{
  position: absolute;
  top:0;
  flex: auto;
  z-index: 10;
}

#settings{
  position:absolute;
  top: 8px;
}

label[for="docs"]{
  z-index:10;
  left: 0;
  top: 15%;
}

#docs{
  position: absolute;
  width: 15vw;
  height: 90vh;
  top: 5.67%;
  left:1px;
  z-index:2;
}

label[for="coms"]{
  z-index:10;
  right:0;
  top: 15%;
}

.dropdown{
  margin: 15px;
}

.togglebtn{
  display: none;
  margin-top: 10px;
  z-index: 10;
}

.novelbutton button{
  display: block;
  margin: 5px;
  z-index: 10;
}

#coms{
  position: absolute;
  width: 15vw;
  height: 90vh;
  top: 5.67%;
  right:1px;
  z-index:2;
}

.document{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

textarea{
  position:absolute;
  border: none;
  resize: none;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

#document{
  padding: 40px;
  margin: 10px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 80vh;
}

#notes{
  background-color: transparent;
  padding: 10px;
  margin: 20px auto;
  top: 25%;
  right:0;
  transform: translate(-7%, -7%);
  width:13%;
  height: 60%;
  z-index: 3;
}

textarea:focus{
  outline: none;
}
